<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="popup.css">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="ent.js"></script>
    <script type="text/javascript" src="popup.js"></script>
    <style media="screen">
      body{
        width:400px;
        height:700px;
      }
    </style>
  </head>
  <body>
    <div class="title">
      <h1 class="titleH">EntPlus</h1>
    </div>

    <div class="main">
      <div class="searchUser">
        <div class="searchBox">
          <input class="userSearch" type="text" name="" value="" placeholder="유저 검색...">
          <button class="searchBtn" type="button">검색</button>
          <button class="resetBtn" type="button">reset</button>
          <ul class="searcher">

          </ul>
        </div>
        <ul class="ent-users">

        </ul>
      </div>
      <div class="bestUsers">
        <h2>추천</h2>
        <ul class="bestFollowings">

        </ul>
      </div>
      <h2>팔로잉</h2>
      <ul class="followings">
        <li>
          <div class="following">
            <img class="ent-userImg" src="" alt="">
            <div class="ent-username"></div>
            <button class="delFollowing"type="button" name="delete">×</button>
          </div>
        </li>
      </ul>
    </div>

  </body>
</html>


<!-- <div ng-repeat="project in userPicks track by $index" project="project" class="staffProjectContainer">
  <div class="projectThumbnailBox"
    ng-click="projectDetail(project)">
    <div class="imgGradation">
      <div class="projectInfoContainer">
        <span class="projectInfoViews ng-binding">10K</span>
        <span class="projectInfoLikes ng-binding">237</span>
        <span class="projectInfoComments ng-binding">147</span>
      </div>
      <a href="">
        <div class="projectCodeButton ko">
          <span class="codeButtonText ko">코드보기</span>
        </div>
      </a>
    </div>
  </div>
  <div class="projectInfoBox">
    <img class="projectUserThumb" src="">
    <div class="projectInfoDetail">
      <div class="projectInfoName entryEllipsis ng-binding">

      </div>
      <div class="projectInfoOwner entryEllipsis">
        from <span class="projectInfoNameHigh" href=""></span>
      </div>
    </div>
  </div>
</div>


<div class="userPick">
  <div class="ent-project">
    <img class="ent-projectImg" src="" alt="">
    <div class="ent-projectStat">
      <img class="ent-userImg" src="" alt="">
      <div class="ent-projectDes">
        <a href="/projectId">
          <div class="ent-projectName">Ent</div>
        </a>
        from <a href="/entry" class="ent-username">entry</a>
      </div>
      <div class="ent-stat">
        <div class="ent-view"></div>
        <div class="ent-like"></div>
        <div class="ent-comment"></div>
      </div>
    </div>
  </div>
</div>

<div class="entContainerBox">
  <img class="ent-userImg" src="" alt="">
  <a class="ent-username" href=""></a>이(가) <a class="ent-data" href=""></a>에

  <div class="ent-when">

  </div>
</div> -->
