.ent_lank{
  font-weight: bold;
  font-size: 16px;
  color: white;
  margin: 9px;
  margin-bottom: 0px;
  float: right;
  width: 78px;
  height: 40px;
  border-radius: 10px;
}
.lankCount{
  text-align: center;
  width: 50px;
  height: 22px;
  padding-top: 9px;
  margin-left: auto;
  margin-right: auto;
}
